# Who Would Want To Upload Files Worth MBs Or Even GBs On Github lmfao?
node_modules

# OOooooo Dangerous Files. Have User Data In Them
data

# These Files Have The Token For The Discord Bot And Other Tokens Maybe
.env
.env2

# These Guys Also Store Some Data
*.sqlite

# Bot Configuration Files. Does Not Contain Any Token Or Anything Like That But Still.... 
config.js

# ZIP File(s) Which We Use To Upload Our Bot Files Easily To Hosting Servers
botfiles.zip
