# Who Would Want To Put A Folder Worth MB's Or Even GB's On GitHub Lmfao...
node_modules

#Configuration File. Ooooo Scary Secret Stuff In There....
config.json

#VSCode Stuff
.vscode

# ZIP File So We Can Upload To Our Host Faster
bot.zip